<div align="center">
<% if @game.active_player != @game.player_1 %>
<h1><p> <%= @game.player_1.name %> attacked <%= @game.player_2.name %>! </p></h1><br>
<% else %>
<h1><p> <%= @game.player_2.name %> attacked <%= @game.player_1.name %>! </p></h1><br>
<% end %>

<a href="/play">OK</a>

</div>
