<div align="center">
<h1><%= @player_1.name %> attacked <%= @player_2.name %></h1><br><br>

<%= @player_2.name %>: <%= @player_2.hp %> HP<br><br>

<form action="/attack">
  <input type="submit" value="Attack">
</form> 
</div>